# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.xpSnakeUT.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kanata\PWRgame\pwr\xpSnakeUT\.idea\.idea.xpSnakeUT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
